<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_walk_right0000</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{56,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hero_walk_right0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{58,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hero_walk_right0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_walk_right.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d6d34a313d7dddc7e6182642541cd5f:1/1$</string>
            <key>textureFileName</key>
            <string>hero_walk_right.png</string>
        </dict>
    </dict>
</plist>
